section.p-info
  .p-info__inner
    h2.c-h2-title.c-h2-title--green
        span
          span.c-h2-title__main
            <span>I</span>nformation
            span.c-h2-title__sub インフォメーション
    .p-info__card-wrap
      .p-info__card-container
        article.p-info-card
          a(href="#").p-info-card__link
            .p-info-card__img
              img(src=imgPath + 'img-card.png', alt="カード")
            .p-info-card__contents
              ul.p-info-card__tag
                li 2024.12.12
                li ［news］
              .p-info-card__title Art &amp; Forest Ryu-nan webサイト公開
        article.p-info-card
          a(href="#").p-info-card__link
            .p-info-card__img
              img(src=imgPath + 'img-card.png', alt="カード")
            .p-info-card__contents
              ul.p-info-card__tag
                li 2024.12.12
                li ［news］
              .p-info-card__title Art &amp; Forest Ryu-nan webサイト公開
        article.p-info-card
          a(href="#").p-info-card__link
            .p-info-card__img
              img(src=imgPath + 'img-card.png', alt="カード")
            .p-info-card__contents
              ul.p-info-card__tag
                li 2024.12.12
                li ［news］
              .p-info-card__title Art &amp; Forest Ryu-nan webサイト公開
        article.p-info-card
          a(href="#").p-info-card__link
            .p-info-card__img
              img(src=imgPath + 'img-card.png', alt="カード")
            .p-info-card__contents
              ul.p-info-card__tag
                li 2024.12.12
                li ［news］
              .p-info-card__title Art &amp; Forest Ryu-nan webサイト公開
        article.p-info-card
          a(href="#").p-info-card__link
            .p-info-card__img
              img(src=imgPath + 'img-card.png', alt="カード")
            .p-info-card__contents
              ul.p-info-card__tag
                li 2024.12.12
                li ［news］
              .p-info-card__title Art &amp; Forest Ryu-nan webサイト公開
    .p-info__button
      include ../component/c_btn_1.pug
            