section.p-share
  .p-share__inner.section-inner
    .p-share__logo
      img(src=imgPath + 'logo-vertical.png', alt="横向きロゴ")
    .p-share__text 人が集い交流を育み<br>ここにしかない時間を共有しよう
    .p-share__circle-wrap
      .p-share__circle
        img(src=imgPath + 'img-circle01.png', alt="画像1")
      .p-share__circle
        img(src=imgPath + 'img-circle02.png', alt="画像2")
      .p-share__circle
        img(src=imgPath + 'img-circle03.png', alt="画像3")
    .p-share__illust
      img(src=imgPath + 'img-ashirai.png', alt="イラスト")